@use "styles/variables";

.form {
  display: block;
}

.input {
  outline: none;

  &:focus {
    border-color: variables.$color-primary;
  }

  &.errored {
    border-color: variables.$color-error;
  }
}
