@use "styles/variables";
@use "styles/mixins";

.wrapper {
  display: none;

  @include mixins.respond(tablet) {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 11;
    overflow: hidden;
    transition: all 0.4s;
  }
}

.container {
  @include mixins.respond(tablet) {
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    padding: 50px variables.$padding-side-tablet;
    max-height: calc(100vh - 120px);
    overflow: auto;
  }

  @include mixins.respond(mobile) {
    padding: 35px variables.$padding-side-mobile;
  }
}
