@use "styles/variables";
@use "styles/mixins";

.wrapper {
  background-color: variables.$color-secondary;
  color: #fff;
  padding: 75px variables.$padding-side-desktop 48px;
  position: relative;

  @include mixins.respond(tablet) {
    padding: 60px variables.$padding-side-tablet 46px;
  }

  @include mixins.respond(mobile) {
    padding: 52px variables.$padding-side-mobile 38px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: variables.$padding-side-desktop;
    height: 4px;
    width: 100px;
    background-color: variables.$color-primary;

    @include mixins.respond(tablet) {
      left: variables.$padding-side-tablet;
    }

    @include mixins.respond(mobile) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;

  @include mixins.respond(tablet) {
    flex-direction: column;
    align-items: initial;
    margin-bottom: 32px;
  }

  @include mixins.respond(mobile) {
    align-items: center;
    margin-bottom: 48px;
  }
}

.logo {
  @include mixins.respond(tablet) {
    margin-bottom: 32px;
  }

  @include mixins.respond(mobile) {
    margin-bottom: 48px;
  }
}

.navigation {
  display: flex;
  align-items: center;

  @include mixins.respond(mobile) {
    flex-direction: column;
  }

  & > *:not(:last-child) {
    margin-right: 34px;

    @include mixins.respond(mobile) {
      margin-right: 0;
      margin-bottom: 16px;
    }
  }
}

.navItem {
  display: block;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: color 0.4s;

  &:hover {
    color: variables.$color-primary;
  }
}

.bottom {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  row-gap: 56px;

  @include mixins.respond(tablet) {
    grid-template-columns: repeat(2, min-content);
    row-gap: 89px;
    align-items: center;
  }

  @include mixins.respond(mobile) {
    grid-template-columns: 1fr;
    text-align: center;
    align-items: initial;
    row-gap: 48px;
  }
}

.text {
  max-width: 540px;
  line-height: 25px;

  @include mixins.respond(tablet) {
    grid-column: 1 / -1;
    max-width: initial;
  }
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: span 2;

  @include mixins.respond(tablet) {
    grid-row: initial;
    order: 3;
  }

  .icons {
    display: flex;

    & > * {
      display: block;

      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }

  .icon {
    width: 24px;
    height: 24px;
    cursor: pointer;

    path {
      transition: fill 0.4s;
    }

    &:hover path {
      fill: variables.$color-primary;
    }
  }
}

.copyright {
  white-space: nowrap;

  @include mixins.respond(mobile) {
    white-space: initial;
  }
}
