@use "styles/variables";
@use "styles/mixins";

.wrapper {
  min-height: 200px;
  position: relative;
  padding: 32px;

  @include mixins.respond(mobile) {
    padding: 24px;
  }
}

.button {
  margin-top: 30px;
}
