@use "styles/variables";
@use "styles/mixins";

.wrapper {
  position: relative;
  background-color: variables.$color-secondary;
  color: #fff;
  padding: 195px variables.$padding-side-desktop 98px;

  @include mixins.respond(tablet) {
    padding: 195px variables.$padding-side-tablet 97px;
  }

  @include mixins.respond(mobile) {
    padding: 122px variables.$padding-side-mobile 32px;
  }

  .divider {
    top: 97px;
    z-index: 56;

    @include mixins.respond(tablet) {
      top: 89px;
    }

    @include mixins.respond(mobile) {
      top: 88px;
    }
  }
}

.heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.43px;
  text-transform: uppercase;
  text-align: center;

  @include mixins.respond(mobile) {
    font-size: 28px;
    line-height: auto;
    letter-spacing: 2px;
  }
}
