@use "styles/variables";
@use "styles/mixins";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.reverse {
    flex-direction: row-reverse;
  }

  @include mixins.respond(tablet) {
    &:not(.twoColumnsTablet) {
      flex-direction: column;
      text-align: center;

      .img {
        margin-bottom: 52px;
        margin-right: 0 !important;
        margin-left: 0 !important;
      }

      &.extraSpaced .img {
        margin-bottom: 63px;
      }

      .content {
        max-width: 572px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .img {
    display: block;
    width: 37.5vw;
    max-width: 540px;

    @include mixins.respond(tablet) {
      width: 100%;
      max-width: 750px;
    }

    img {
      display: block;
      width: 100%;
      border-radius: 8px;
    }
  }

  &:not(.reverse) .img {
    margin-right: 8.65vw;
  }

  &.reverse .img {
    margin-left: 8.65vw;
  }

  @include mixins.respond(mobile) {
    .img {
      margin-bottom: 32px !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    &.extraSpaced .img {
      margin-bottom: 40px !important;
    }
  }

  .content {
    flex: 1;

    @include mixins.respond(tablet) {
      width: 100%;
    }
  }

  &.twoColumnsTablet {
    @include mixins.respond(tablet) {
      .img {
        width: 36.6vw;
      }

      &:not(.reverse) .img {
        margin-right: 8.98vw;
      }

      &.reverse .img {
        margin-left: 8.98vw;
      }
    }

    @include mixins.respond(mobile) {
      flex-direction: column;

      .img,
      .content {
        display: block;
        width: 100%;
      }
    }
  }
}
