@use "styles/variables";
@use "styles/mixins";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.reverse {
    flex-direction: row-reverse;
  }

  @include mixins.respond(tablet) {
    &:not(.twoColumnsTablet) {
      flex-direction: column;
      text-align: center;

      .img {
        margin-bottom: 52px;
      }

      &.extraSpaced .img {
        margin-bottom: 63px;
      }
    }
  }

  .img {
    display: block;
    width: 37.5vw;

    @include mixins.respond(tablet) {
      width: 100%;
    }

    img {
      display: block;
      width: 100%;
      border-radius: 8px;
    }
  }

  @include mixins.respond(mobile) {
    .img {
      margin-bottom: 32px !important;
    }

    &.extraSpaced .img {
      margin-bottom: 40px !important;
    }
  }

  .content {
    width: 31vw;

    @include mixins.respond(tablet) {
      width: 100%;
    }
  }

  &.twoColumnsTablet {
    @include mixins.respond(tablet) {
      .img {
        width: 36.6vw;
      }

      .content {
        width: 44.2vw;
      }
    }

    @include mixins.respond(mobile) {
      flex-direction: column;
      text-align: center;

      .img,
      .content {
        display: block;
        width: 100%;
      }
    }
  }
}
