@use "styles/variables";

.wrapper {
  display: block;
  position: absolute;
  top: calc(100% + 20px);
  right: variables.$padding-side-desktop;

  .overlay {
    z-index: 5;
  }
}

.drawer {
  overflow: hidden;
  position: relative;
  z-index: 10;
  transition: all 0.4s;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  min-height: 300px;
}
