@use "styles/mixins";

.wrapper {
  display: grid;
  grid-template-columns: 1fr 44.1vw;
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
  grid-auto-flow: column;

  @include mixins.respond(tablet) {
    grid-template-columns: 1fr 51.43vw;
    gap: 20px;
  }

  @include mixins.respond(mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

.item {
  &:last-child {
    grid-row: 1 / -1;

    @include mixins.respond(mobile) {
      grid-row: span 2;
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}
