.container {
  background-color: #f4f4f4;
}

.section {
  background-color: #fff;
  border-radius: 8px;
  max-width: 40%;
}

.empty {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
