@use "styles/variables";
@use "styles/mixins";

.container {
  background-color: #f4f4f4;
  padding: 80px variables.$padding-side-desktop 140px;

  @include mixins.respond(tablet) {
    padding: 48px variables.$padding-side-tablet 116px;
  }

  @include mixins.respond(mobile) {
    padding: 16px variables.$padding-side-mobile 97px;
  }
}

.goBack {
  margin-bottom: 38px;

  @include mixins.respond(tablet) {
    margin-bottom: 24px;
  }
}

.content {
  display: grid;
  grid-template-columns: 51vw 1fr;
  gap: 2.1vw;
  align-items: start;

  @include mixins.respond(tablet-land) {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  & > section {
    background-color: #fff;
    border-radius: 8px;
  }
}

.empty {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
