*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// LIBRARY CSS OVERRIDES
.react-dropdown-select-input {
  font-size: 14px !important;
  font-weight: 600 !important;
  margin-left: 0 !important;
  font-family: inherit !important;

  &::placeholder {
    color: rgba(#000, 0.4) !important;
  }
}

.braintree-placeholder {
  display: none;
}
