@use "styles/variables";
@use "styles/mixins";

.container {
  padding: 176px variables.$padding-side-desktop 160px;

  @include mixins.respond(tablet) {
    padding: 123px variables.$padding-side-tablet 120px;
  }

  @include mixins.respond(mobile) {
    padding: 106px variables.$padding-side-mobile 120px;
  }

  & > .goBack {
    margin-bottom: 56px;

    @include mixins.respond(tablet) {
      margin-bottom: 24px;
    }
  }

  & > section {
    &:not(:last-child) {
      margin-bottom: 160px;

      @include mixins.respond(tablet) {
        margin-bottom: 120px;
      }
    }
  }
}
